.create-update-background {
    background-image: url('https://wallpapercave.com/wp/wp7578886.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.create-update-btn {
    text-decoration: none;
    font-size: 2.5rem;
    color: orange;
    transition: all 0.2s linear;
}

.create-update-btn:hover {
    transform: scale(1.2);

}

.back-dumbell:hover {
    cursor: pointer;
}

.change-player-btn:hover {
    color: white;
    background: orange;
}

.cancel-player-btn {
    background: orange;
}

.cancel-player-btn:hover {
    color: white;
}
