  @page "/create"
  @inject NavigationManager _navigationManager
  @inject IPlayerApi _playerApi

<div class="d-flex justify-content-center align-items-center h-100 w-100">
    <EditForm Model="PlayerResult" OnValidSubmit="ValidSubmit">

        <div class="form-group">
            <label>
                name:
                <input type="text" class="form-control" @bind-value="PlayerResult.Name" />
            </label>
        </div>

        <div class="form-group">
            <label>
                money:
                <input type="number" class="form-control" @bind-value="PlayerResult.Money" />
            </label>
        </div>

        <div class="form-group">
            <label>
                ex:
                <input type="number" class="form-control" @bind-value="PlayerResult.Experience" />
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </EditForm>
</div>
@code {
    private PlayerResult PlayerResult { get; set; } = new();


    private async Task ValidSubmit()
    {
        await _playerApi.Create(PlayerResult);
        _navigationManager.NavigateTo("/players");
    }
}
