@page "/"
@using ActionCommandGame.Services.Model.Filters
@inject PlayerApi _playerApi


<div class="d-flex bg-dark min-vh-100 justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            @if (Players is null)
            {
                <p>loading</p>
            }
            else
            {
                @foreach (var player in Players.Data)
                {
                    <div class="col-md-6 col-lg-3">
                        <PlayerCardComponent Player="player"></PlayerCardComponent>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code
{
    public ServiceResult<IList<PlayerResult>>? Players { get; set; }
    public PlayerFilter Filter { get; set; } = new PlayerFilter();

    protected async override Task OnInitializedAsync()
    {
        Players = await _playerApi.Find(Filter);
    }
}
