@page "/leaderboard"
@inject IPlayerApi _playerApi

<div class="col-3">
    <div class="card text-center shadow">
        <div class="card-header bg-dark text-white">
            LeaderBoard
        </div>
        <div class="card-body">
            @foreach (var player in _orderedPlayers)
            {
                <p>@($"Level {player.GetLevel()} {player.Name} ({player.Experience})")</p>
            }
        </div>
    </div>
</div>
<a href="/game" class="btn btn-dark">Leaderboard</a>


@code {
    private IList<PlayerResult> _orderedPlayers = new List<PlayerResult>();

    protected override async Task OnInitializedAsync()
    {
        var playersResult = await _playerApi.Find(new PlayerFilter());
        _orderedPlayers = playersResult.Data.OrderByDescending(p => p.Experience).ToList();
        await base.OnInitializedAsync();
    }
}
