@page "/"
<div class="vh-100 login-background d-flex justify-content-center align-items-center">
    <div class="wrapper">
        <div class="w-100 text-center"> <i class="fas fa-dumbbell fa-fw fa-5x"></i> </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="userName" id="userName" placeholder="Username">
            </div>

            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span> 
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>

            <a href="/motivation" class="btn login-btn">Login</a>
        </form>
        <div class="text-center fs-6">Not A Member? <a href="#"><span class="signin-link">Sign Up</span></a></div>
    </div>
</div>

@code {

}
