@page "/motivation"

<div class="vh-100 d-flex position-relative justify-content-center align-items-center bg-dark">
    <iframe class="h-100 w-100" src="https://www.youtube.com/embed/xoXYe9e01_Y/?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/players" class="btn btn-sm border-2 border-white text-white position-absolute start-50 top-0 mt-3">SKIP INTRO</a>
</div>

@code {

}
