@page "/players"
@inject IPlayerApi _playerApi

<div class="d-flex bg-dark min-vh-100 players-background justify-content-center align-items-center">
    <div class="container">
        <h1 class="display-1 player-select-title mb-5 display-1">Select Your Lifter</h1>
        <div class="row">
            @if (PlayersResult is null)
            {
                <p>loading.....</p>
            }
            else
            {
                @foreach (var player in PlayersResult)
                {
                    <div class="col-3">
                        <PlayerCardComponent Player="player"></PlayerCardComponent>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code
{
    private IList<PlayerResult>? PlayersResult { get; set; }
    private PlayerFilter Filter { get; set; } = new PlayerFilter();

    protected override async Task OnInitializedAsync()
    {
        var result = await _playerApi.Find(Filter);
        PlayersResult = result.Data;

        await base.OnInitializedAsync();
    }
}
