@page "/shop"
@inject IItemApi _itemApi
@inject IPlayerApi _playerApi
@inject ILocalStorageService _storageService

<div class="vh-100 h-100 bg-dark shop-background">
    <div class="container">
        <div class="mx-2 pt-3 flex-row d-flex align-items-center justify-content-between">
            <a href="/game" class="btn back-button rounded-pill border-white">BACK</a>
            <p class=" primary-color h3">Welcome to our shop, <span class="text-success">@Player.Name</span></p>
        </div>
        <div class="row shop-view">
            @if (!Items.Any())
            {
                <p>Shop is loading...</p>
            }
            @foreach (var item in Items)
            {
                <div class="col-sm-6 col-xl-4">
                    <ItemCardComponent Item="item"></ItemCardComponent>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private IList<ItemResult> Items { get; set; } = new List<ItemResult>();
    private PlayerResult Player = new PlayerResult();

    private int playerId;

    protected override async Task OnInitializedAsync()
    {
        playerId = await _storageService.GetItemAsync<int>("PlayerId");

        var itemResult = await _itemApi.FindAsync();
        Items = itemResult.Data;

        var playerResult = await _playerApi.GetAsync(playerId);
        Player = playerResult.Data;

        await base.OnInitializedAsync();
    }
}
